@media screen and (max-width:1180px) {
	#top {
	}

	#level {
	}

	#video {
	}

	#napr {
	}

	#port {
	}

	#obuch {
	}

	#train {
	}

	#tr_1 {
	}

	#tr_2 {
	}

	#tr_3 {
	}

	#tr_4 {
	}

	#tr_5 {
	}

	#tr_6 {
	}

	#tr_7 {
	}

	#calc {
	}

	#seldl {
	}

	#seldl > option {
	}

	#selqw {
	}

	#selqw > option {
	}

	#selgoal {
	}

	#selgoal > option {
	}

	#selform {
	}

	#selform > option {
	}

	#faq {
	}

	#cont {
	}

	#modal-form-1 {
	}

	#modal-form-2 {
	}

	#modal-form-3 {
	}

	#modal-form-4 {
	}

	#modal-form-5 {
	}

	#modal-form-6 {
	}

	#modal-form-7 {
	}

	#modal-form-8 {
	}

	#modal-success {
	}

	#modal-menu-1 {
	}

	#f-yacity {
	}

	#f-utm {
	}

	.header_wrap {
	}

	.home__video {
	}

	.home__video > source {
	}

	.clear-top {
	}

	.header_container {
	}

	.header_container_wrap {
	}

	.top_wrap {
	}

	.top {
	}

	.container {
	width: 100%;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;;;;;
	}

	.container > li {
	}

	.container > li > a {
	}

	.container > ul {
	}

	.container > ul > li {
	}

	.container > ul > li > a {
	}

	.rel {
	}

	.rel > h1 {
	}

	.top_left {
	}

	.menu {
	}

	.tl_menu {
	}

	.logo_wrap {
	}

	.logo {
	}

	.top_link {
	}

	.descriptor {
	}

	.top_right {
	}

	.phone_number {
	}

	.phone_decs {
	}

	.call_link {
	}

	.show-1 {
	}

	.clear {
	}

	.menu_wrap {
	}

	.header {
	}

	.header_container_wrap_rel {
	}

	.header_container_wrap_rel > h1 {
	}

	.head_subhead {
	}

	.head_subhead > p {
	}

	.sh_link {
	}

	.show-2 {
	}

	.show-3 {
	}

	.white_btn {
	}

	.header_size {
	}

	.show-4 {
	}

	.header_ben {
	}

	.header_ben_item {
	}

	.header_ben_item_1 {
	}

	.header_ben_item_2 {
	}

	.header_ben_item_3 {
	}

	.down {
	}

	.level_wrap {
	}

	.level {
	}

	.block_heading {
	}

	.grtext1 {
	}

	.grtext1 > br {
	}

	.level_items {
	}

	.level_item {
	}

	.level_item_1 {
	}

	.level_item_head {
	}

	.level_item_desc {
	}

	.level_item_2 {
	}

	.level_item_3 {
	}

	.video_wrap {
	}

	.video {
	}

	.video_head {
	}

	.video_link {
	}

	.show-5 {
	}

	.show-5 > br {
	}

	.for_wrap {
	}

	.for {
	}

	.black_block_heading {
	}

	.for_items {
	}

	.for_item {
	}

	.for_item_1 {
	}

	.for_label {
	}

	.for_btn_wrap {
	}

	.for_size {
		height: 100%;
		    width: 100%;
		    padding: 10px;
	}

	.show-6 {
	}

	.for_item_2 {
	}

	.for_item_3 {
	}

	.for_item_4 {
	}

	.for_item_5 {
	}

	.for_item_6 {
	}

	.for_item_7 {
	}

	.for_item_8 {
	}

	.for_item_9 {
	}

	.for_item_10 {
	}

	.for_item_11 {
	}

	.for_item_12 {
	}

	.for_item_13 {
	}

	.for_item_14 {
	}

	.for_item_15 {
	}

	.portfolio_wrap {
	}

	.portfolio {
	}

	.headblock {
	}

	.portfolio_slider {
	}

	.slide_port {
	}

	.slide_block_heading {
	}

	.slide_content {
	}

	.slide {
	overflow: hidden;;
	}

	.slide_1 {
	}

	.slide_img_wrap {
	}

	.slide_img {;;
	}

	.slide_info {
	}

	.slide_heading {
	}

	.slide_desc {
	}

	.slide_desc > p {
	}

	.case_trainers {
	}

	.ct_head {
	}

	.ct_tr_list {
	}

	.ct_tr_item {
	}

	.trainer_min {
	}

	.ct_tr_name {
	}

	.trainer_link {
	}

	.videoslider {
	}

	.videoslide {
	}

	.videoslide_head {
	}

	.videoslide_content {
	}

	.video_player {
	min-height: 60.66667vmax;
	}

	.leadform_wrap {
	}

	.slick-next {
	background-color: rgba(255, 255, 255, 0.4);
	border: 4px solid rgba(255, 255, 255, 0.4);
    padding: 0px;
    box-sizing: content-box;
		right: 0px;
	}

	.slick-prev {
	background-color: rgba(255, 255, 255, 0.4);
	border: 4px solid rgba(255, 255, 255, 0.4);
	padding: 0px;
	box-sizing: content-box;
	left: 0;

	}

	.leadform_1 {
	}

	.leadform {
	}

	.leadform-block {
	}

	.form-block {
	}

	.leadform_head {
	}

	.formhead {
	}

	.leadform_head_desc {
	}

	.fformname {
	}

	.leadform_inputs {
	}

	.input_style {
	}

	.input_size_1 {
	}

	.fphone {
	}

	.femail {
	}

	.leadform_size {
	}

	.send-btn {
	}

	.usl_wrap {
	}

	.usl {
	}

	.usl_list {
	}

	.usl_item {
	}

	.usl_head {
	}

	.usl_desc {
	}

	.usl_desc_pre {
	}

	.usl_desc_pre > p {
	}

	.usl_desc_pre > ul {
	}

	.usl_desc_pre > ul > li {
	}

	.usl_desc_pre > p > a {
	}

	.usl_desc_post {
	}

	.usl_desc_post > p {
	}

	.usl_desc_post > ul {
	}

	.usl_desc_post > ul > li {
	}

	.usl_desc_post > p > b {
	}

	.usl_desc_full_btn {
	}

	.blue-btn {
	}

	.show-8 {
	}

	.action_block {
	}

	.action {
	}

	.act_left {
	}

	.act_head {
	}

	.act_desc {
	}

	.act_right {
	}

	.act_size {
	}

	.trainer_wrap {
	}

	.trainer {
	}

	.block_wrap {
	font-size: 40px;;
	}

	.trainers_list {
	}

	.trainer_item {
	}

	.trainer_left {
	}

	.trainer_img {
	max-width: 100%;;
	}

	.trainer_name_exp {
	}

	.tr_name {
	}

	.tr_exp {
	}

	.trainer_right {
	font-size: 16px;;
	}

	.tr_desc_item {
	}

	.trainer_desc {
	}

	.trainer_desc > p {
	}

	.tr_desc_head {
	}

	.tr_desc_item_text {
	}

	.tr_desc_item_text > p {
	}

	.tr_logo_img {
	}

	.calc_wrap {
	}

	.calc {
	}

	.calc_left {
	}

	.calc_left_head {
	}

	.calc_sel_wrap {
	}

	.sel_list {
	}

	.calc_sel {
	}

	.seldl {
	}

	.turnintodropdown {
	}

	.turnintodropdown > option {
	}

	.selqw {
	}

	.selgoal {
	}

	.selform {
	}

	.calc_size {
	}

	.show-7 {
	}

	.faq_wrap {
	}

	.faq {
	}

	.ask_list {
	}

	.ask_item {
	}

	.ask_item_head {
	}

	.ask_item_desc {
	}

	.ask_item_desc > p {
	}

	.leadform_2 {
	}

	.leadform-block-2 {
	}

	.footer {
	}

	.footer_left {
	}

	.footer_left > p {
	}

	.footer_left > br {
	}

	.footer_right {
	}

	.footer_right > p {
	}

	.footer_right > p > a {
	}

	.modal {
	}

	.close {
	}

	.modal_content {
	}

	.modalform_block {
	}

	.modalform_h1 {
	}

	.modalform_h2 {
	}

	.form_inputs {
	}

	.form_inputs > p {
	}

	.input_size_2 {
	}

	.modalform_size {
	}

	.video_wrap_mod {
	}

	.video_wraphead {
	}

	.video_content {
	}

	.video_content > iframe {
	}

	.for_head {
	}

	.fcalc {
	}

	.usl_head_mod {
	}

	.modal-success {
	}

	.modal-success > h3 {
	}

	.successimg {
	}

	.sucsecc_desc {
	}

	.modal_menu {
	}

	.overlay {
	}
}
@media screen and (max-width:1180px) {
}