@import "vars"


/*==========  Desktop First  ==========*/


//Extra large: ≥1200px
+media-breakpoint-down(xl)

  .img-header
    min-height: 500px

  .recom_bg
    min-height: 700px



//Large: ≥992px
+media-breakpoint-down(lg)


  .header-feed
    padding-bottom: 8px

  .header-plus
    font-size: 16px
    line-height: 24px
    padding-bottom: 12px

  .header-desc
    font-size: 16px
    padding-top: 10px
    padding-bottom: 16px
    line-height: 22px

  .header-title
    font-size: 28px
    line-height: 34px
    padding-top: 20px

  .contact li
    padding-right: 2px

  .header-input
    margin-bottom: 40px

  .project-item-name li
    padding-right: 60px

  .project-item-prev-text
    padding-right: 0

  .project-item-text
    padding: 59px 15px

  .job-item-content span
    font-size: 14px

  .free-img
    padding-top: 47px

  .free .header-plus
    font-size: 14px

  .free .header-input .button
    margin-right: 15px

  .free .header-input .button
    margin-left: 11px

  .free .header-input input
    padding: 15px 15px 15px 24px

  .smeta-title
    font-size: 20px
    padding-top: 0
    padding-bottom: 5px
    line-height: 24px

  .smeta .header-input input
    padding: 4px 1px 7px 1px
    font-size: 16px

  .smeta .header-input .button
    padding: 10px 40px

  .smeta-desc
    padding-bottom: 5px
    line-height: 22px

  .smeta .header-input
    margin-bottom: 0

  .smeta .header-plus li
    padding-top: 3px

  .smeta .header-plus
    font-size: 14px
    line-height: 16px

  .popup-title
    font-size: 28px
    padding-top: 60px
    line-height: 35px

  .popup-desc
    font-size: 18px
    line-height: 22px
    padding-top: 20px
    padding-bottom: 23px

  .popup
    left: 10%
    top: 8%
    width: 774px
    height: 491px

  .popup input
    padding: 16px 187px 16px 23px

  .popup .button
    padding: 20px 140px



//Medium: ≥768px
+media-breakpoint-down(md)

  .popup-title
    font-size: 26px

  .popup-desc
    font-size: 16px

  .popup input
    padding: 5px 132px 5px 18px

  .popup .button
    padding: 9px 109px

  .popup-accept
    font-size: 11px
    padding-top: 8px

  .popup
    left: 9%
    top: 8%
    width: 636px
    height: 414px

  .header-title
    font-size: 20px
    line-height: 25px
    padding-top: 18px

  .header-desc
    font-size: 14px

  .header-feed
    font-size: 18px

  .header-input input
    padding: 10px 45px 10px 24px

  .button
    padding: 14px 34px

  .project-item-name li
    padding-right: 30px

  .project-item-prev-img
    padding: 10px 0px 0 3px

  .project-item-prev-text
    font-size: 10px

  .project-item-prev.active
    border: 1px solid #1175e5

  .project-item-prev
    width: 88%

  .project-item-text h1
    font-size: 16px
    line-height: 20px

  .project-item-text
    padding: 25px 5px

  .project-item-text span
    font-size: 13px

  .job-item-content span
    font-size: 11px
    padding-left: 15px

  .job-item-content li
    width: 131px
    font-size: 14px

  .job-item
    min-height: 355px

  .free-img
    padding-top: 73px

  .free .header-input .button
    margin-right: 5px
    margin-left: 0

  .free .button
    padding: 10px 10px

  .free .header-input input
    padding: 5px 5px 5px 5px

  .smeta-title
    font-size: 16px
    padding-top: 0
    padding-bottom: 5px
    line-height: 18px

  .smeta-desc
    padding-bottom: 0
    line-height: 20px
    font-size: 14px

  .smeta .header-input input
    padding: 5px 1px 5px 1px

  .smeta .header-input .button
    padding: 8px 24px
    margin-left: 3px

  .smeta-img
    min-height: 250px



//Small: ≥576px
+media-breakpoint-down(sm)

  .header-title
    font-size: 16px
    line-height: 21px
    padding-top: 18px

  .header-input input
    font-size: 16px
    padding: 5px 11px 5px 11px

  .button
    padding: 8px 21px

  .contact
    padding-top: 25px
    font-size: 12px

  .project-title
    padding-top: 85px

  .project-item-name li
    padding-right: 21px
    display: block
    padding-top: 6px

  .project-first
    margin-left: 0

  .project-item-prev-text
    font-size: 14px

  .project-item-prev-text span
    font-size: 20px

  .project-item-text
    padding: 25px 37px

  .job-title
    padding-top: 0

  .job-item-content li img
    padding: 4px 4px 7px 7px

  .header-feed
    font-size: 14px

  .free .header-input input
    margin-right: 50px

  .free .button
    padding: 6px 39px
    margin-top: 15px
    margin-right: 52px

  .free .header-input .button
    margin-right: 52px

  .free .header-input input
    padding: 5px 5px 5px 5px
    margin-right: 50px



//Extra small: >0
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

//Extra small: <576px
+media-breakpoint-up(xs)

//Small: ≤576px
+media-breakpoint-up(sm)

//Medium: ≤768px
+media-breakpoint-up(md)

//Large: ≤992px
+media-breakpoint-up(lg)

//Extra large: ≤1200px
+media-breakpoint-up(xl)
