@media screen and (max-width:1023px) {
	#tophead {
	}

	#benblock {
	}

	#spk {
	}

	#con {
	}

	#loc {
	}

	#prc {
	}

	#modal-form-1 {
	}

	#modal-form-2 {
	}

	#modal-form-3 {
	}

	#modal-success {
	}

	#f-yacity {
	}

	#f-utm {
	}

	.header_wrap {
	}

	.clear-top {
	}

	.top_wrap {
	}

	.top {
	}

	.container {
	}

	.container > menu {
	margin-left: 10px;
	padding-top: 9px;
	}

	.container > menu > li {
	padding: 0 7px;
	}

	.container > menu > li > a {
	font-size: 11px;
	}

	.container > h1 {
	font-size: 40px;;
	}

	.container > h2 {
	}

	.logo_wrap {
	width: 103px;
	}

	.logo_img {
	width: 100px;
	}

	.phone {
	padding-top: 10px;
	font-size: 14px;;;
	}

	.top_line_wrap_fixed .logo_img {
    	width: 100px;
	}

	.phone > a {
	background-size: contain;;
	}

	.top_line_wrap_fixed .phone {
	    padding-top: 10px;
	}

	.header_center {
	}

	.headpretext {
	padding-top: 30px;;
	}

	.head_date {
	font-size: 18px;
	}

	.head_form {
	}

	.form-block-cont {
	}

	.form-block {
	}

	.form_head {
	font-size: 25px;;
	}

	.formhead {
	}

	.fformname {
	}

	.form_inputs {
	}

	.form_inputs > p {
	}

	.input_style {
	}

	.input_size_1 {
	}

	.fphone {
	}

	.femail {
	}

	.red_btn {
	}

	.header_size {
	font-size: 14px;;
	}

	.send-btn {
	}

	.slick-prev {
	left: -10px;

	}

	.slick-next {
	right: -10px;

	}

	.block_wrap {
	}

	.block {
	}

	.logo_partner {
		padding: 60px 30px;
	}

	.logo_slide {
	}

	.logo_p {
	}

	.ben_block {
	}

	.ben_head {
	font-size: 30px;
	}

	.ben_list {
	width: 100%;;
	}

	.ben {
	width: 220px;;
	}

	.ben_ico {
	}

	.ben_1_text {
	}

	.ben_label {
	}

	.ben_2_text {
	}

	.ben_3_text {
	}

	.ben_4_text {
	}

	.ben_5_text_1 {
	}

	.ben_5_text_2 {
	}

	.ben_ico_6 {
	}

	.speakers_wrap {
	}

	.speakers {
	}

	.big_head {
	}

	.big_head_ico {
		width: 100px;
		background-size: 40%;
		height: 100px;
	}

	.sp_ico {;
	}

	.big_head_text {
	padding-top: 4px;
	}

	.big_head_text_1 {
	font-size: 60px;;
	}

	.big_head_text_2 {
	font-size: 35px;;
	}

	.sp_list {
	}

	.sp_item {
	width: 30%;
	}

	.photo_vid {
	}

	.photo_speaker_wrap {
	}

	.sp_photo {
	}

	.play_btn {
	}

	.show-2 {
	}

	.sp_info {
	padding: 20px;
	height: 350px;
	}

	.sp_name {
	font-size: 18px;;
	}

	.sp_min_desc {
	line-height: 21px;
	font-size: 14px;
	padding-bottom: 20px;;
	}

	.theme_sp {
	line-height: 21px;
	font-size: 14px;
	padding-top: 20px;
	}

	.theme_sp > span {
	}

	.theme_sp > h3 {
	}

	.theme_sp > ul {
	}

	.theme_sp > ul > li {
	}

	.sp_info_hidden {
	}

	.info_speaker_desc {
	}

	.info_speaker_desc > p {
	}

	.blue_btn {
	}

	.sp_size {
	}

	.show-3 {
	}

	.small_decs {
	}

	.red_btns {
	}

	.two_btns_size {
	width: 40%;;
	}

	.red_size_1 {
	}

	.red_size {
	}

	.conc_wrap {
	}

	.conc {
	}

	.conc_ico {
	}

	.conc_text {
	}

	.conc_text > p {
	}

	.conc_text > p > span {
	}

	.conc_text > p > span > span {
	}

	.for {
	}

	.for > li {
	margin-right: 8px;
	width: 100px;
	height: 100px;
	font-size: 16px;;;
	}

	.for > li > span {
	width: 100px;
	height: 100px;;;
	}

	.for > li > span > br {
	}

	.conc_sub_head {
	}

	.nav_list {
	}

	.nav_list > li {
	}

	.location_wrap {
	}

	.location {
	}

	.location_head {
	font-size: 40px;
	}

	.loc_items {
	font-size: 12px;;
	}

	.loc_item {
	font-size: 16px;
	}

	.li_1 {
	}

	.li_2 {
	margin-left: 30px;
	}

	.loc_photo {
	}

	.loc_photo > a {
	width: 30%;
	}

	.zal {
	}

	.price_wrap {
	}

	.price {
	}

	.price_ico {
	}

	.price_blocks_wrap {
	}

	.price_blocks {
	margin-right: 19px;
	}

	.price_block {
	padding: 120px 20px 60px 20px;
	}

	.pb_1 {
	}

	.pb_head {
	}

	.pb_list {
	}

	.pb_list > li {
	font-size: 14px;
	padding: 0px 0px 15px 25px;;
	}

	.price_wrap_pac {
	}

	.price_label {
	}

	.price_label > br {
	}

	.price_ac {
	float: left;
	text-align: left;
	padding-top: 10px;;;;
	}

	.price_ac > div {
	}

	.price_ac > div > span {
	}

	.p_min {
	}

	.p_min > span {
	}

	.next_price {
	}

	.np_label {
	font-size: 14px;
	width: 50%;;;;
	}

	.n_price {
	}

	.n_price > span {
	}

	.pb_size {
	}

	.show-1 {
	}

	.pb_2 {
	}

	.pb_3 {
	}

	.footer_wrap {
	}

	.footer {
	}

	.footer_left {
	}

	.footer_left > p {
	}

	.footer_left > p > a {
	}

	.footer_right {
	}

	.footer_right > p {
	}

	.footer_right > p > a {
	}

	.modal {
	}

	.close {
	}

	.modal_content {
	}

	.modalform_block {
	}

	.modalform_h1 {
	}

	.usl_head_mod {
	}

	.pbhead_mod {
	}

	.modalform_h2 {
	}

	.fcalc {
	}

	.input_size_2 {
	}

	.modalform_size {
	}

	.videomodal {
	}

	.close-videomodal {
	}

	.modal_video_content {
	}

	.speakermodal {
	width: 100%;
	left: 0;
	margin-left: 0;
	top: 0;
	height: 100%;;;;;;
	}

	.speakermodal_content {
	}

	.photo_mod {
	}

	.info_mod {
	}

	.info_mod_name {
	}

	.info_modal_show {
	}

	.info_modal_theme {
	}

	.modal_video_content_sp {
	}

	.modal-success {
	}

	.modal-success > h3 {
	}

	.successimg {
	}

	.sucsecc_desc {
	}

	.overlay {
	}

}