@media screen and (max-width:1180px) { 
	#tophead {
	}

	#benblock {
	}

	#spk {
	}

	#con {
	}

	#loc {
	}

	#prc {
	}

	#modal-form-1 {
	}

	#modal-form-2 {
	}

	#modal-form-3 {
	}

	#modal-success {
	}

	#f-yacity {
	}

	#f-utm {
	}

	.header_wrap {
	}

	.clear-top {
	}

	.top_wrap {
	}

	.top {
	}

	.container {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;;;;;
	}

	.container > menu {
	margin-left: 50px;
	}

	.container > menu > li {
	}

	.container > menu > li > a {
	}

	.container > h1 {
	}

	.container > h2 {
	}

	.logo_wrap {
	}

	.logo_img {
	}

	.phone {
	}

	.phone > a {
	}

	.header_center {
	}

	.headpretext {
	}

	.head_date {
	}

	.head_form {
	}

	.form-block-cont {
	}

	.form-block {
	}

	.form_head {
	}

	.formhead {
	}

	.fformname {
	}

	.form_inputs {
	}

	.form_inputs > p {
	}

	.input_style {
	}

	.input_size_1 {;;
	width: 30%;;;
	}

	.fphone {
	}

	.femail {
	}

	.red_btn {
	}

	.header_size {
	width: 30%;;
	}

	.send-btn {
	}

	.block_wrap {
	}

	.block {
	}

	.logo_partner {
	}

	.logo_slide {
	}

	.logo_p {
	}

	.ben_block {
	}

	.ben_head {
	}

	.ben_list {
	}

	.ben {
	}

	.ben_ico {
	}

	.ben_1_text {
	}

	.ben_label {
	}

	.ben_2_text {
	}

	.ben_3_text {
	}

	.ben_4_text {
	}

	.ben_5_text_1 {
	}

	.ben_5_text_2 {
	}

	.ben_ico_6 {
	}

	.speakers_wrap {
	}

	.speakers {
	}

	.big_head {
	}

	.big_head_ico {
	}

	.sp_ico {
	}

	.big_head_text {
	}

	.big_head_text_1 {
	}

	.big_head_text_2 {
	}

	.sp_list {
	}

	.sp_item {
	}

	.photo_vid {
	}

	.photo_speaker_wrap {
	}

	.sp_photo {
	}

	.play_btn {
	}

	.show-2 {
	}

	.sp_info {
	height: 330px;
	}

	.sp_name {
	}

	.sp_min_desc {
	}

	.theme_sp {
	}

	.theme_sp > span {
	}

	.theme_sp > h3 {
	}

	.theme_sp > ul {
	}

	.theme_sp > ul > li {
	}

	.sp_info_hidden {
	}

	.info_speaker_desc {
	}

	.info_speaker_desc > p {
	}

	.blue_btn {
	}

	.sp_size {
	}

	.show-3 {
	}

	.small_decs {
	}

	.red_btns {
	}

	.two_btns_size {
	}

	.red_size_1 {
	}

	.red_size {
	}

	.conc_wrap {
	}

	.conc {
	}

	.conc_ico {
	}

	.conc_text {
	}

	.conc_text > p {
	}

	.conc_text > p > span {
	}

	.conc_text > p > span > span {
	}

	.for {
	}

	.for > li {
	margin-right: 26px;
	}

	.for > li > span {
	}

	.for > li > span > br {
	}

	.conc_sub_head {
	}

	.nav_list {
	}

	.nav_list > li {
	}

	.location_wrap {
	}

	.location {
	}

	.location_head {
	}

	.loc_items {
	}

	.loc_item {
	}

	.li_1 {
	}

	.li_2 {
	}

	.loc_photo {
	}

	.loc_photo > a {
	width: 31%;;
	}

	.zal {;;
	width: 100%;;
	}

	.price_wrap {
	}

	.price {
	}

	.price_ico {
	}

	.price_blocks_wrap {
	}

	.price_blocks {
	width: 30%;
	}

	.price_block {
	padding: 120px 30px 60px 30px;
	}

	.pb_1 {
	}

	.pb_head {
	}

	.pb_list {
	}

	.pb_list > li {
	}

	.price_wrap_pac {
	}

	.price_label {
	font-size: 12px;
	width: 90px;;;
	}

	.price_label > br {
	}

	.price_ac {
	}

	.price_ac > div {
	}

	.price_ac > div > span {
	}

	.p_min {
	}

	.p_min > span {
	}

	.next_price {
	}

	.np_label {
	}

	.n_price {
	}

	.n_price > span {
	}

	.pb_size {
	}

	.show-1 {
	}

	.pb_2 {
	}

	.pb_3 {
	}

	.footer_wrap {
	}

	.footer {
	}

	.footer_left {
	}

	.footer_left > p {
	}

	.footer_left > p > a {
	}

	.footer_right {
	}

	.footer_right > p {
	}

	.footer_right > p > a {
	}

	.modal {
	}

	.close {
	}

	.modal_content {
	}

	.modalform_block {
	}

	.modalform_h1 {
	}

	.usl_head_mod {
	}

	.pbhead_mod {
	}

	.modalform_h2 {
	}

	.fcalc {
	}

	.input_size_2 {
	}

	.modalform_size {
	}

	.videomodal {
	}

	.close-videomodal {
	}

	.modal_video_content {
	}

	.speakermodal {
	width: 100%;
	left: 0;
	margin-left: 0;
	top: 0;
	height: 100%;;;;;;;
	}

	.speakermodal_content {
	}

	.photo_mod {
	}

	.info_mod {
	}

	.info_mod_name {
	}

	.info_modal_show {
	}

	.info_modal_theme {
	}

	.modal_video_content_sp {
	}

	.modal-success {
	}

	.modal-success > h3 {
	}

	.successimg {
	}

	.sucsecc_desc {
	}

	.overlay {
	}
}