@charset "utf-8";

.header .cars ul,
.benefits li,
.guarantee li {
	display:inline;
}

.header .cars {
	left:181px;
}

.header .cars ul {
	zoom:1;
	padding-bottom:20px;
	margin-left:20px;
}

.stripes {
	vertical-align:middle;
}

.benefits li span,
.benefits li img {
	vertical-align:middle;
	margin-top:0;
}

.links .red-link {
	margin-right:-17px;
}

.benefits li:first-child {
	margin-right:1px;
}

.modal .phone .arr {
	top:-20px;
}

.links a:hover {
	border:none;
	padding-bottom:1px;
}

.links .red-link:hover,
.links .blue-link:hover {
	padding:0;
}
