@font-face {
  font-family: 'ProximaNova';
  src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Regular.woff') format('woff'), url('ProximaNova-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Bold.woff') format('woff'), url('ProximaNova-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova';
  src: url('ProximaNova-Black.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Black.woff') format('woff'), url('ProximaNova-Black.ttf')  format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ALSRubl';
  src: url('ALSRubl.eot?#iefix') format('embedded-opentype'),  url('ALSRubl.woff') format('woff'), url('ALSRubl.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
